columns = 16
max_width = 960px

// Typographic
$line-height-ratio  = 1.75
$body-font-weight   = 300
$body-color         = #666
$header-font-weight = 500
$header-color       = #111
$min-font           = 13px
$max-font           = 20px
$min-width          = 600px
$max-width          = 1000px
$vertical-rhythm    = true