.logo-layer
	col(2/12, gutter: 0)
	shift(6/12, gutter: 0)
	position: absolute
	padding: 20px 0

	.left
		color: #2c3e50
		col(1/2, gutter: 0)
	.right
		color: #ecf0f1
		col(1/2, gutter: 0)

	.left, .right
		text-align: center